<% if logged_in? %>
  
  <div class="row">
    <aside class='col-md-4'>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= @user.name %> </h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src=" <%= gravatar_url(@user, { size: 50 }) %> " alt="">
      </div>
    </div>
      <%= form_for(@micropost) do |f| %>
      
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
      
        <%= f.submit 'Post', class: 'btn btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class='col-xs-8'>
      <ul class="nav nav-tabs nav-justified">
      <li class=" <%= 'active' if current_page?(user_path(@user)) %> ">
        <%= link_to user_path(@user) do %> Microposts
        <span class="badge"> <%= @count_microposts %> </span>
        <% end %>
      </li>
      <li class=" <%= 'active' if current_page?(followings_user_path(@user)) %> ">
        <%= link_to followings_user_path(@user) do %> Followings 
          <span class="badge"> <%= @count_followings %> </span>
        <% end %>
      </li>
      <li class=" <%= 'active' if current_page?(followers_user_path(@user)) %> ">
        <%= link_to followers_user_path(@user) do %> Followers 
          <span class="badge"> <%= @count_followers %> </span>
        <% end %>
      </li>
      </li>
      <li class=" <%= 'active' if current_page?(favoritelists_user_path(@user)) %> ">
        <%= link_to favoritelists_user_path(@user) do %> Favoriteilists 
        <% end %>
      </li>
    </ul>
    <br>
    <br>
      <%= render 'microposts/microposts', microposts: @microposts, user: @user %>
    </div>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>